:root {
    --GRDmaxwidth: 1620px;
    --GRDrowl: 0.125;
    --GRDrowxl: 0.07;
    --GRDrowxxl: 0.025;
    --GRDgutter: 15px;

    --GRDrowlLG: 0.10;
    --GRDrowxlLG: 0.05;
    --GRDrowxxlLG: 0.025;
    --GRDgutterLG: 12px;

    --GRDrowlMD: 0.075;
    --GRDrowxlMD: 0.05;
    --GRDrowxxlMD: 0.025;
    --GRDgutterMD: 8px;

    --GRDrowlSM: 0.05;
    --GRDrowxlSM: 0.05;
    --GRDrowxxlSM: 0.05;
    --GRDgutterSM: 4px;
    
    /*
        I use these vars just to calculate everything a bit easier
    */
    --gutter: var(--GRDgutter);
    --maxWidth: calc( 100vw - ( 2 * var(--GRDmaxwidth) * var(--GRDrowxl) ) );
    --maxWidth-wide: calc( 100vw - ( 2 * var(--GRDmaxwidth) * var(--GRDrowxxl) ) );
    --maxWidth-narrow: calc( 100vw - ( 2 * var(--GRDmaxwidth) * var(--GRDrowl) ) );
}
@media (max-width: 1024px) {
    :root {
        --gutter: var(--GRDgutterLG);
        --maxWidth: calc( 100vw * ( 1 - ( 2 * var(--GRDrowxlLG) ) ) );
        --maxWidth-wide: calc( 100vw * ( 1 - ( 2 * var(--GRDrowxxlLG) ) ) );
        --maxWidth-narrow: calc( 100vw - ( 2 * var(--GRDmaxwidth) * var(--GRDrowlLG) ) );
    }
}
@media (max-width: 767px) {
    :root {
        --gutter: var(--GRDgutterMD);
        --maxWidth: calc( 100vw * ( 1 - ( 2 * var(--GRDrowxlMD) ) ) );
        --maxWidth-wide: calc( 100vw * ( 1 - ( 2 * var(--GRDrowxxlMD) ) ) );
        --maxWidth-narrow: calc( 100vw - ( 2 * var(--GRDmaxwidth) * var(--GRDrowlMD) ) );
    }
}
@media (max-width: 480px) {
    :root {
        --gutter: var(--GRDgutterSM);
        --maxWidth: calc( 100vw * ( 1 - ( 2 * var(--GRDrowxlSM) ) ) );
        --maxWidth-wide: calc( 100vw * ( 1 - ( 2 * var(--GRDrowxxlSM) ) ) );
        --maxWidth-narrow: calc( 100vw - ( 2 * var(--GRDmaxwidth) * var(--GRDrowlSM) ) );
    }
}
/*
    Calculate breakpoints via processor:

    (1: wide)    1701px = var(--GRDmaxwidth) * ( 1 + ( 2 * var(--GRDrowxxl) ) )
    (2: normal)  1846px = var(--GRDmaxwidth) * ( 1 + ( 2 * var(--GRDrowxl) ) )
    (3: narrow)  2025px = var(--GRDmaxwidth) * ( 1 + ( 2 * var(--GRDrowl) ) )
    
 */
@media(min-width: 1701px) {
    :root {
        --maxWidth-wide: 1620px;
    }
}
@media(min-width: 1846px) {
    :root {
        --maxWidth: 1620px;
    }
}
@media(min-width: 2025px) {
    :root {
        --maxWidth-narrow: 1620px;
    }
}


/*
    Rows
*/

/* row wrap */
.row_wrap {
    position: relative;
}

/* normal row */
.row,
/* elements with no row outside */
main > *:not(.row_wrap):not(.dynamic),
main > .dynamic > *:not(.row_wrap)
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--maxWidth);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

/* wide row */
.row.alignwide {
    max-width: var(--maxWidth-wide)
}

/* narrow row */
.row.alignnarrow {
    max-width: var(--maxWidth-narrow)
}

/* fullwidth row */
.row.alignfull {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
}

/* nested rows */
.row .row_wrap {
    margin-left: calc( -1 * var(--gutter) );
    margin-right: calc( -1 * var(--gutter) );
/*    width: calc( 100% + ( 2 * var(--gutter) ) );*/
}


/*
    Columns
*/

/* column wrap */
.col_wrap {
    margin-left: calc( -1 * var(--gutter) );
    margin-right: calc( -1 * var(--gutter) );
}

/* clearfix */
.col_wrap:after,
.col_wrap:before {
    content: " ";
    display: table;
}
.col_wrap:after {
    clear: both;
}

/* columns */
.col {
    position: relative;
    float: left;
    width: 100%;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}


/*
    Backgrounds
*/
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(
            130deg, 
            #333 0.0%,
            #555 0.0%,
            #555 20.0%,
            #777 20.0%,
            #777 30.0%,
            #333 50.0%,
            #555 50.0%,
            #555 80.0%,
            #777 80.001%,
            #777 100%
        );
}

/*
    VC columns
*/
.vc_col-xs-12 {
    width: 100%;
}
.vc_col-xs-11 {
    width: 91.66666667%;
}
.vc_col-xs-10 {
    width: 83.33333333%;
}
.vc_col-xs-9 {
    width: 75%;
}
.vc_col-xs-8 {
    width: 66.66666667%;
}
.vc_col-xs-7 {
    width: 58.33333333%;
}
.vc_col-xs-6 {
    width: 50%;
}
.vc_col-xs-5 {
    width: 41.66666667%;
}
.vc_col-xs-4 {
    width: 33.33333333%;
}
.vc_col-xs-3 {
    width: 25%;
}
.vc_col-xs-2 {
    width: 16.66666667%;
}
.vc_col-xs-1 {
    width: 8.33333333%;
}
@media (min-width: 768px) {
    .vc_col-sm-12 {
        width: 100%;
    }
    .vc_col-sm-11 {
        width: 91.66666667%;
    }
    .vc_col-sm-10 {
        width: 83.33333333%;
    }
    .vc_col-sm-9 {
        width: 75%;
    }
    .vc_col-sm-8 {
        width: 66.66666667%;
    }
    .vc_col-sm-7 {
        width: 58.33333333%;
    }
    .vc_col-sm-6 {
        width: 50%;
    }
    .vc_col-sm-5 {
        width: 41.66666667%;
    }
    .vc_col-sm-4 {
        width: 33.33333333%;
    }
    .vc_col-sm-3 {
        width: 25%;
    }
    .vc_col-sm-2 {
        width: 16.66666667%;
    }
    .vc_col-sm-1 {
        width: 8.33333333%;
    }
}















/*
===================================================================================================

                Demo Styles

===================================================================================================
*/


/*
    Basics
*/
* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 100px 0;
    font-family: 'IBM Plex Sans', 'system-ui', 'Helvetica', 'Roboto', 'Arial', sans-serif;
}

main {
}

main > * {
    margin-bottom: 2em;
}

/*
    Header
*/
header .col {
    display: flex;
    justify-content: space-between;
    align-items: center
}

#menu {
    margin: 0;
}

#menu li {
    display: inline-block;
    padding: 0.5em 1em;
}


/*
    enable Highlight Mode
*/
#highlight_control {
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    border-radius: 3px;
    background: #333;
    color: #fff;
}
#highlight_control * {
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
}


/*
    Highlight Mode
*/
body.highlight {
    width: 100%;
    overflow-x: hidden;
    
    --blue: rgba(113, 144, 255, .2);
    --green: rgba(152, 255, 135, .3);
    --yellow: rgba(255, 195, 41, .3);
}

/* rows */
.highlight .row::before,
.highlight .row::after {
    content: '';
    background: var(--green);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
}

.highlight .row::before {
    right: 100%;
}

.highlight .row::after {
    left: 100%;
}

.highlight .row .col .row::before,
.highlight .row .col .row::after {
    content: none;
}

.highlight .dynamic {
    box-shadow: 0 0 0 2px rgba(0,0,0,.5);
}

/* columns */
.highlight .col {
    background: var(--blue);
}
.highlight .col::before,
.highlight .col::after {
    content: '';
    background: var(--yellow);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--gutter);
}
.highlight .col::before {
    left: 0;
}
.highlight .col::after {
    right: 0;
}

.highlight #linear {
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 1px solid red;
    
    left: calc( var(--GRDmaxwidth) * var(--GRDrowxl) + var(--gutter) );
}
@media (max-width: 1024px) {
    .highlight #linear {
        left: calc( 100vw * var(--GRDrowxlLG) + var(--gutter) );
    }
}
@media (max-width: 767px) {
    .highlight #linear {
        left: calc( 100vw * var(--GRDrowxlMD) + var(--gutter) );
    }
}
@media (max-width: 480px) {
    .highlight #linear {
        left: calc( 100vw * var(--GRDrowxlSM) + var(--gutter) );
    }
}
@media(min-width: 1846px) {
    .highlight #linear {
        left: calc( ( 100vw - 1620px ) / 2 + var(--gutter) );
    }
}